@model SuperMerk2.Models.ClienteDatos
@using SuperMerk2.Models;
@{
    ViewBag.Title = "CreateClienteData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Producto/Create-EditProducto.css" rel="stylesheet" />
    <title>Create Usuario</title>
    <link href="~/Content/Categorias/Create-EditCategoria.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="form">
            <hr />
            <div class="Input">

                @Html.LabelFor(model => model.username, "username", htmlAttributes: new { @class = "form__label" })
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form__input", @readonly= "@readonly" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "Error" })
            </div>
            <div class="Input">
                @Html.LabelFor(model => model.nombreCliente, htmlAttributes: new { @class = "form__label" })
                @Html.EditorFor(model => model.nombreCliente, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.nombreCliente, "", new { @class = "Error" })
            </div>
            <div class="Input">
                @Html.LabelFor(model => model.apellidoCliente, htmlAttributes: new { @class = "form__label" })
                @Html.EditorFor(model => model.apellidoCliente, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.apellidoCliente, "", new { @class = "Error" })
            </div>
            <div class="Input">
                @Html.LabelFor(model => model.numeroDoc, htmlAttributes: new { @class = "form__label" })
                @Html.EditorFor(model => model.numeroDoc, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.numeroDoc, "", new { @class = "Error" })
            </div>
            <div class="Input">
                @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "form__label" })
                @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.mail, "", new { @class = "Error" })
            </div>
            <input type="submit" value="Save" class="button" />
        </div>
    }
</body>
</html>
<div>
    <p>
        <a><i class='bx bx-arrow-back'></i> </i>@Html.ActionLink("Volver", "Index", "Home")</a>
    </p>
</div>

