@model IEnumerable<SuperMerk2.Models.Bitacora>

@{
    ViewBag.Title = "ListarBitacora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Bitacora/Bitacora.css" rel="stylesheet" />
    <title> Lista Bitacora</title>
</head>
<body>
    <div class="dataTable-Container">
        <table class="datatable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idBitacora }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idBitacora }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idBitacora })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>