@model IEnumerable<SuperMerk2.Models.Bitacora>
@using SuperMerk2.Models;
@using SuperMerk2.Business;

@{
    ViewBag.Title = "ListarBitacora";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsuarioBL biz = new UsuarioBL();
    var usuarios = biz.Listar();
    var lstBitacora = Model.ToList();
    string usuario = "";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Bitacora/Bitacora.css" rel="stylesheet" />
    <title> Lista Bitacora</title>
</head>
<body>
    @using (Html.BeginForm("ListarBitacoraPorUsuario", "Bitacora"))
    {
        <select id="filtro" name="filtro">
            @foreach (var user in usuarios)
            {
                <option>@user.username</option>
            }
        </select>
        <input type="submit" value="search" class="button" />
    }



    <div class="dataTable-Container">
        <table class="datatable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaHora)

                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (usuario != "")
                {
                    if (item.username == usuario)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechaHora)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaHora)
                        </td>
                    </tr>
                }

            }
        </table>
    </div>
</body>
</html>