@model SuperMerk2.Models.Producto

@{
    ViewBag.Title = "CreateProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Producto/Create-EditProducto.css" rel="stylesheet" />
    <title>Create Usuario</title>
</head>
<body>
    <div class="form">
        <hr />
        <div class="Input">
            @Html.LabelFor(model => model.categoriaId, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.categoriaId, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
            @Html.ValidationMessageFor(model => model.categoriaId, "", new { @class = "Error" })
        </div>
        <div class="Input">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "Error" })
        </div>
        <div class="Input">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "Error" })
        </div>
        <div class="Input">
            @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
            @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "Error" })
        </div>
        <div class="Input">
            @Html.LabelFor(model => model.stockDisponible, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.stockDisponible, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
            @Html.ValidationMessageFor(model => model.stockDisponible, "", new { @class = "Error" })
        </div>
        <div class="Input">
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "Error" })
        </div>
        <input type="submit" value="Save" class="button" />
    </div>
</body>
</html>
<div>
    <p>
        <a><i class='bx bx-arrow-back'></i> </i>@Html.ActionLink("Volver", "ListProductos", "Producto")</a>
    </p>
</div>
