@model SuperMerk2.Models.Usuario

@{
    ViewBag.Title = "EditUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";    

}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Usuario/Create-EditUsuario.css" rel="stylesheet" />
    <title> Edit Usuario</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <div class="form">
        <hr />
        @Html.HiddenFor(model => model.Habilitado)
        <div class="Input">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "form__label" })
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form__input", placeholder = "", @readonly = "readonly" } })

        </div>
        @Html.HiddenFor(model => model.esAdmin)
        <div class="Input">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form__input" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "Error" })
        </div>
        

        <input type="submit" value="Save" class="button" />
    </div>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <div>
        <p>
            <a><i class='bx bx-arrow-back'></i> </i>@Html.ActionLink("Volver", "Index", "Home")</a>
        </p>
    </div>
</body>
</html>