@model SuperMerk2.Models.Usuario

@{
    ViewBag.Title = "EditUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Usuario/Create-EditUsuario.css" rel="stylesheet" />
    <title> Edit Usuario</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="form">
            <hr />
                @Html.HiddenFor(model => model.password)
            <div class="Input">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "form__label" })
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form__input", placeholder = "" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "Error" })
                @if (Session["UsernameExistente"]!=null)
                {
                    <p>@Session["UsernameExistente"]</p>
                }
            </div>
            <div class="input-checkbox">
                @Html.LabelFor(model => model.esAdmin, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.esAdmin, new { htmlAttributes = new { type = "checkbox" } })
                @Html.ValidationMessageFor(model => model.esAdmin, "", new { @class = "Error" })
            </div>
            <input type="submit" value="Save" class="button" />
        </div>
    }

    <div>
        <p>
            <a><i class='bx bx-arrow-back'></i> </i>@Html.ActionLink("Volver", "ListUsuario", "Usuario")</a>
        </p>
    </div>
</body>
</html>