@model IEnumerable<SuperMerk2.Models.Usuario>
@using SuperMerk2.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userSession = Session["UserSession"] as Usuario;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Usuario/ListUsuario.css" rel="stylesheet" />

    <title> Lista Usuarios</title>
</head>
<body> 
    <div class="dataTable-Container">
        <table class="datatable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.esAdmin)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.esAdmin)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditUsuarioAdmin", "Usuario", new { username = item.username }, new { }) |

                        @if (item.username != userSession.username)
                        {
                            if (item.Habilitado)
                            {
                                @Html.ActionLink("Desactivar", "DesactivarUsuario", "Usuario", new { user = item.username }, new { })
                            }
                            else
                            {
                                @Html.ActionLink("Reactivar", "HabilitarUsuario", "Usuario", new { user = item.username }, new { })
                            }
                        }

                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>


